header{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #161b22;
    height: 40px;
    align-items: center;
}

.link {
    padding: 2em;
    color: antiquewhite;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.brand {
    margin-left: 20px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 800;
    font-size: larger;
}